.article__card{
	width: 300px;
	border-radius: 25px;
	background-color: #334B35;
	color: white;
	position: relative;

	h3{
		margin-top: 15px;
	}

	ul{
		font-size: 18px;
		margin: 15px 0 65px;
		padding: 0 0 0 17px;
	}

	img{
		width: 300px;
		border-radius: 25px;
	}

	.btn{
		position: absolute;
		bottom: 15px;
		height: 35px;
		line-height: 35px;
		text-align: center;
		width: 260px;
	}
	.article__card-descr{
		padding: 0 20px;
	}
}